*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #87CEEB;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: 5px solid black;
    box-shadow: 0 0 1rem rgba(0,0,0,0.6);
    font-size: 8vmin;
    color: #b0413e;
    background-color: beige;
    cursor: pointer;
}
.reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius:1rem;
}
.reset:active{
    background-color: grey;
    color: beige;
    border: 2px solid blueviolet;
}
#new-btn{
    padding: 0.55rem;
    font-size: 1.25rem;
    background-color: pink;
    color: blue;
    border-radius:1rem;
}
#new-btn:hover{
    background-color: beige;
    color: purple;
    border: 3px dotted red;
}
#new-btn:active{
    background-color: pink;
    color: firebrick;
    border: 3px dotted slateblue;
}
#msg{
    color: black;
    font-size: 6vmin;
    font-weight: bold;
}
.msg-container{
    height:100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display:none;
}
